<div class="services">
    <div class="service-card">
      <i class="service-icon"></i>
      <h2>Ganhos de até 50% em performance</h2>
      <p>Os ganhos partem de 15% em potência e torque e vão até incríveis 40%!</p>
    </div>
    <div class="service-card">
      <i class="service-icon"></i>
      <h2>Atendimento em domicílio</h2>
      <p>Vamos até a sua residência, garantindo uma maior praticidade e segurança.</p>
    </div>
    <div class="service-card">
      <i class="service-icon"></i>
      <h2>Trabalhamos com:</h2>
      <p>Veículos leves/camionetes e caminhões.</p>
    </div>
  </div>
  